*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
    
.container{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 80px 10px;
    
}
.nav-bar{
    display:flex;
    flex-direction: column;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.nav-bar ol{
    list-style-type: none;
    
}
.nav-bar a{
    text-decoration: none;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;

}
.normal{
    display: flex;
    flex-direction: row;
    gap: 15px;
    border-right: 2px solid grey;
    padding-right: 10px;
    margin-right: -15px;
}
.normal a{
    color: black;
}

.bold{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.bold a{
    color: black;
}
.bold li{
    border-right: 2px solid grey;
    padding-right: 10px;
    margin-right: -15px;
}
.second{
    border-right: 2px solid grey;
    padding-right: 10px;
    margin-right: -15px;
}
.purple{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.apply, .rent, .give{
    background-color: rgb(96, 38, 158);
    padding: 5px 5px;
}
.purple a{
    text-decoration: none;
    color: white;
}
/* come back later */
.second-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 900px;

}
.hunter-purple{
    color: rgb(96, 38, 158);
    font-size: 60px;
    font-weight: bolder;
}
.ms{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 30px;
    margin-top: 15px;
}
.intro {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5em;
    width: 80em;
    height: 40em;
    padding-bottom: 10px;
    margin-bottom: 70px;

}
.intro h1{
    font-weight: bolder;
    font-size: 50px;
    line-height: 1em;
}
.intro p{
    line-height: 30px;
}
.vertical-text{
    display: block;
    width: 40em;
    height: 40em;
    font-size: 18px;
}
.vertical-text h2{
    font-weight: bolder;
    font-size: 50px;
    line-height: 1em;
}
.vertical-text ol{
    list-style-type: none;
}
.intro-img{
    display: block;
    height: 90%;
    width: 70%;
}
.spotlight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 3px solid lightgray;
    padding-bottom: 40px;
    margin-bottom: 70px;
}
.spotlight-main{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 0px;
}
.spotlight-text{
    display: flex;
    flex-direction: column;
    line-height: 25px;
    font-weight: bolder;
    font-size: 20px;
    width: 20em;
    height: 16em;
    justify-content: center;
    align-items: center;
}
.spotlight-text a{
    text-decoration: none;
    color: black;
}
.spotlight-text img{
    width: 110%;
    height: 100%;
}
.academic{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    width: 80em;
    height: 40em;
    border-bottom: 3px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 70px;
}
.our-schools{
    display: flex;
    flex-direction: row;
    gap: 20em;
    border-bottom: 3px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 70px;
}
.our-schools .vertical-text{
    display: flex;
    flex-direction: column;
}
img{
    width: 100%;
    height: 100%;
}
.our-schools p{
    line-height: 30px;
}
.our-schools img{
    display: block;
    width: 140%;
    height: auto;
}
.our-schools ol{
    line-height: 2rem;
}
h4{
    font-size: 25px;
    font-weight: lighter;
}
.our-schools a{
    text-decoration: none;
    color: black;
}
.same a{
    text-decoration: none;
    color:black
}
.on{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.on-main{
    display: flex;
    flex-direction: row;
    gap: 50px;   
    padding-bottom: 150px;
    justify-content: center;
}
.on-text{
    display: flex;
    flex-direction: column;
    width: 40em;
    height: 18em;
}
.on-text a{
    text-decoration: none;
    color: black;
}
.on-text img{
    width: 110%;
    height: 100%;
}
.on-text h4{
    font-size: 20px;
    font-weight: bolder;
}
.on-text p{
    font-size: 15px;
    line-height: 20px ;
}
.quote{
    background-color:lightgrey;
    height: 25rem;
}
h6{
    font-size: 25px;
    font-style: italic;
    line-height: 30px;
    padding: 10rem;
}
.creator{
    font-weight: lighter;
    font-size: 15px;
    padding-left: 40rem;
}
.demand a{
    text-decoration: none;
    color: black;
}
.academic-img{
        display: block;
        height: 80%;
        width: 60%;
}
.vertical-text p{
    line-height: 30px;
}
